body{
    background-color: yellow;
}

h1{
    color: orange;
}


h1{
    font-size: 3cm;
}

li{
    font-size: 1.5cm;
}

dd{
    font-size: 1cm;
}

#yo{
    color: green;
}

#yo1{
    color: purple;
}

#yo2{
    color: red;
}

#yo3{
    color: red;
}
    